version: '3.8'

services:
  jupyter:
    build: .
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    command: jupyter notebook --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token= --NotebookApp.password=
  
  dashboard:
    build: .
    ports:
      - "8502:8502"
    volumes:
      - .:/app
    command: streamlit run dashboard.py --server.port=8502 --server.address=0.0.0.0

